:root {
    --container-width: 1200px;
    --color-primary: #111;
    --color-secondary: #666;
    --color-bg: #ffffff;
    --color-accent: #d6cfc7;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    line-height: 1.3;
    color: var(--color-primary);
    background-color: var(--color-bg);
}
/* .container{
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 24px;
} */
.section{
    padding: 64px 0;
} 

h1 {
    font-size: 48px;
    margin-bottom: 24px;
}

h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

h3 {
    font-size: 22px;
    /* margin-bottom: 16px; */
}

p{
    color: var(--color-secondary);
    margin-bottom: 16px;
}
img{
    max-width: 100%;
    display: block;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,ol{
    list-style: none;
}
section{
    width: 100%;
    position: relative;
}
nav{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}
.nav-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-left: 3rem;
}
.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    white-space: nowrap;
    cursor: pointer;
}
.nav-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-right: 3rem;
    cursor: pointer;
}
#navbar{
    border-bottom: 1px solid rgba(128, 128, 128, 0.185);
}
.search{
    padding-left: 1rem;

}

.hamburger{
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.hamburger span{
    width: 25px;
    height: 3px;
    background-color: #111;
}

.logo{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* #logo-section{
    border-bottom: 1px solid rgba(128, 128, 128, 0.185);
} */

/* hero section */

#hero{
    width: 100%;
    height: 600px;
    position: relative;
}

.hero-container{
    background-image: url(image/h-1.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    height: 600px;
    width: 60%;
}

.left-btn{
    position: absolute;
    top: 45%;
    left: 25%;
    background: none;
    
    height: 2rem;
    width: 2rem;
    border: 1px solid #d6cfc7;
    transform: rotate(90deg);
}

.left-btn svg{
    color: white;
}

.right-btn{
    position: absolute;
    top: 45%;
    right: 25%;
    background: none;
    
    height: 2rem;
    width: 2rem;
    border: 1px solid #d6cfc7;
    transform: rotate(270deg);
}

.right-btn svg{
    color: white;
}

.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    gap: 0.5rem;
    padding: 2rem;
}

.hero-content span{
    color: #ffffff;
}
.hero-content h3{
    color: #ffffff;
}
#lifestyle{
    color: #111;
    background-color: #ffffff;
    padding: 0.2rem;
    display: inline-block;
    width: fit-content;
}

.span-meta-desc{
    font-size: 12px;
}

.hero-bottom-right-btn{
    position: absolute;
    bottom: 1rem;
    right: 20rem;
    background: none;
    padding: 10px 20px;
    border: 1px solid white;
    color: white;
    
}

/* form section */

#form{
    width: 100%;
    height: 100px;
    margin-top: 2.5rem;
}

.form-container{
    background-color: rgb(247, 247, 247);
    width: 1080px;
    height: 5rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-container p{
    font-size: 12px;
    margin-top: 1rem;
    margin-left: 1rem;
}
#form-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-right: 1rem;
}

input{
    width: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    transition: border 0.3s ease;
}

input:focus{
    border-color: #111;
    outline: none;
}

#subscribe-btn{
    padding: 10px 30px;
    background-color: rgb(7, 163, 204);
    border: none;
    color: white;
    width: 250px;
}

/* most popular section */
#most-popular{
    width: 100%;
    position: relative;
    margin-bottom: 2rem;
}

.most-popular-container{
    width: 1080px;
    margin: 0 auto;
    margin-top: 2rem;
}

.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
}
.heading h3{
    font-size: medium;
}
.line{
    height: 1px;
    width: 2rem;
    margin-bottom:3rem ;
    background-color: rgb(7, 163, 204);
}
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 1rem;
}

.card{
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    height: auto;
    margin-bottom: 1rem;
}
.card img{
    width: 100%;
    object-fit: cover;
}

.card-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top:1rem ;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.card-meta{
    font-size: 12px;
    display:flex ;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.card-meta i{
    color: #969696;
}
.card-meta span{
    color: rgb(7, 163, 204);
}
.card-content h4{
    text-align: center;
}

.card-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-footer-date{
    font-size: 9px;
    color: #969696;
}
.card-footer-comment{
    font-size: 9px;
}

/* top post */

#posts{
    width: 100%;
    position: relative;
    border-top: 1px solid rgba(128, 128, 128, 0.185);
}

.posts-container{
    width: 1080px;
    height: auto;
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    margin: 0 auto;
    place-items: center;
    margin-top: 3rem;
}
.top-post .card-meta{
    margin-bottom: 0.8rem;
}
.top-post .card-footer{
    margin-bottom: 2rem;
}

#top-post-heading{
    text-align: center;
    margin-bottom: 0.8rem;
}
#top-post-para{
    margin-top: 2rem;
}

#top-post-para p{
    font-size: small;
    color: black;
}
.top-post-read-more{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom:2rem ;
}
.top-post-read-more hr{
    width: 20px;
}

.top-post-read-more button{
    background: none;
    border: none;
    font-weight: 700;  
}

.top-post-footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
    height: 3rem;
}
.top-post-ft-name{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    text-wrap: nowrap;
    i{
        color: #969696;
        font-size: small;
    }
    span{
        font-size: small;
        color:rgb(7, 163, 204);
    }
}

.like{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    margin-left: 20rem;
}
.hr-divider hr{
    width: 10px;
    rotate: 90deg;
}

.top-post-social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.all-posts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
    margin-top: 2rem ;
}

.all-post-footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 3rem;

    .all-post-like{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.3rem;
    }
    .all-post-social{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}

.all-post-footer-content hr{
    display: block;
    width: 1px;
    height: 20px;
    background: #ccc;
    border: none;
    rotate: 90deg;
}

.post-card img{
    object-fit: cover;
}


/* Aside */
.aside-posts{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem;
}

.aside-posts-top{
    width: 100%;
    height: 420px;
    background-image: url("image/a-1.webp");
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.aside-posts-top-content{
    padding: 20px;
    color: #ffffff;
    text-align: center;
    font-size: smaller;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    background: rgba(0,0,0,0.4);
}

.top-post-about{
    width: 100%;
    height: auto;
    position: relative;
    p{
        text-align: center;
        margin-top: 0.6rem;
        
    }
    img{
        object-fit: contain;
        object-position: center;
        margin-top: 2rem;
    }
    p{
        text-align: center;
        font-size: smaller;
        color: black;
    }
    button{
        display: block;
        margin: 0 auto;
        background: none;
        border: none;
        border-bottom: 0.5px solid rgb(7, 163, 204);
        padding: 0.3rem;
        font-size: x-small;
    }
}

.connect-and-follow{
    width: 100%;
    height: auto;
    position: relative;
    p{
        text-align: center;
        font-size: smaller;
        color: black;
        margin-top: 0.6rem; 
    }
}

.aside-social-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
}
.logo-container{
    height: 30px;
    width: 30px;
    border: 0.5px solid rgb(0, 0, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-letter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    .news-heading{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        h4{
            font-size: medium;
            text-align: center;
        }
        .news-letter-border{
            width: 3rem;
            height: 2px;
            background-color: rgb(7, 163, 204);
            margin-top: 0.8rem;
        }
    }

    p{
        font-size: smaller;
        text-align: center;
    }

    .newsletter-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}

.newsletter-form button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 2rem;
        background-color:rgb(7, 163, 204);
        border: none;
        color: #ffffff;
}

.top-post-instagram{
    width: 100%;
    height: auto;
    position: relative;

    p{
        text-align: center;
        margin-top: 0.6rem;
        color: #111;
        font-size: small;
    }
}
.top-post-insta-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    gap: 0.3rem 0.3rem;
    margin-top: 3rem;
    
}

.top-post-latest-posts{
    width: 100%;
    height: auto;
    position: relative;
    p{
        text-align: center;
        margin-top: 0.6rem;
        color: #111;
        font-size: small;
    }
}

.top-post-latest-post-container{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .latest-post-1{
        display: flex;
        gap: 1rem;
    }
    img{
        width: 30%;
    }
    .latest-post-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.6rem;
        font-size: small;
    }
    span{
        color: #969696;
    }
}

.top-post-categories{
    width: 100%;
    height: auto;
    position: relative;
    p{
        text-align: center;
        color: #111;
        font-size: small;
    }
}
.categories-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;

    .categories-content{
        width: 100%;
        height: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom:1px solid #66666648;
        font-size: small;
    }
    ul li{
        list-style-type: circle;
        margin-left: 10px;
    }
    span{
        color: #969696;
    }
}

/* Follow me sectiion */
.follow-me-section{
    position: relative;
    width: 100%;
    height: auto;
}
.follow-me-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    position: relative;  
}
.follow-me-container img{
    width: 16.67%;
}
.follow-me-heading{
    display: flex;
    justify-content: center;
    gap: 0.4rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 6px 10px;
    font-size: small;

    p{
        margin-bottom: 0;
        color: #000000;
    }
    svg{
        color: #000000;
    }
}

/* footer */
#footer{
    width: 100%;
    height: auto;
    background-color: #000000;
}

.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.footer-socials-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
    cursor: pointer;
}
.ft-social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(48, 48, 48);

    svg{
        color: #ffffff;
    }
}

.footer-menu{
    width: 100%;
    height: auto;
    margin: 1rem;
    padding: 1rem;
    cursor: pointer;

    .footer-menu-item{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 0.6rem;

        p{
            color: #ffffff;
            font-size: small;
        }
    }
}
.copyright{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    p{
        font-size: small;

        span{
        color: #ffffff;
        }
    }
}
.go-to-top{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .go-to-top-icon{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.3rem;
        margin-top: 1rem;
        margin-bottom: 3rem;
        color: #666;
        font-size: small;

        svg{
            rotate: 180deg;
        }
    }
}
/* Media Query */
@media (max-width: 1024px){

    .nav-left{
        gap: 1.5rem;
        padding-left: 1rem;
    }

    .nav-right{
        gap: 0.8rem;
        padding-right: 1rem;
    }

    .nav-items h5{
        font-size: 13px;
    }

    .posts-container{
        width: 90%;
        grid-template-columns: 1fr; /* stack */
        gap: 3rem;
    }

    .all-posts{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .most-popular-container{
        width: 90%;
    }

    .form-container{
        width: 90%;
    }

    .hero-container{
        width: 80%;
    }

    .left-btn{
        left: 10%;
    }

    .right-btn{
        right: 10%;
    }
}

@media (max-width: 768px){
    .nav-left{
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        flex-direction: column;
        gap: 1.5rem;
        padding: 2rem 0;
        display: none;
        background-color: #ffffff;
        z-index: 1000;
    }
    .nav-right{
        display: none;
    }
    .hamburger{
        display: flex;
        
    }
    .nav-left.active{
        display: flex;
    }
}